cython
numpy
allennlp
annoy
bigartm
bokeh
category_encoders
dask[complete]
eli5
fastcluster
fire
fitter
flair==0.6.1
forestci
gensim
graphviz
grpcio
h5py
hdbscan
hydra-core
imbalanced-learn
imgaug
install
joblib
jupyter
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
jupyterlab
keras-vis
line_profiler
lxml
matplotlib
mlxtend
mpld3
networkx
nltk
nmslib
opencv-python
pandarallel
pandas
pandas-profiling
patool
plotly
pprofile
pydot
pymorphy2-dicts-ru
pymorphy2[fast]
pymystem3
pyprind
pytorch-lightning
pytorch-transformers
sacred
scikit-image
scikit-learn
scipy
seaborn
seqeval
sharedmem
sklearn_crfsuite
skorch
spacy
tables
tensorboardX
tensorflow
torch==1.9.0+cu111
torchaudio==0.9.0
torchtext==0.7.0
torchvision==0.10.0+cu111
tqdm
transformers
ujson
xeus-python
xgboost
git+https://github.com/IINemo/active_learning_toolbox.git@seq
git+https://github.com/IINemo/isanlp.git
git+https://github.com/IINemo/libact.git@seq
git+https://github.com/facebookresearch/fastText.git
git+https://github.com/marcotcr/lime
git+https://github.com/openai/gym
git+https://github.com/pybind/pybind11.git
