cython
numpy==1.14.2
gensim
graphviz
grpcio
install
joblib
jupyter
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
jupyterlab
keras-vis
line_profiler
lxml
matplotlib
mlxtend
mpld3
networkx
nltk
nmslib
OpenNMT-tf==1.15.0
pandas
pathlib
patool
pprofile
pydot
pymorphy2-dicts-ru
pymorphy2[fast]
pymystem3
pyprind
scikit-learn
scipy
seaborn
seqeval
sharedmem
sklearn_crfsuite
spacy
tables
tensorboardX
tensorflow==1.13.1
tqdm
ujson
xgboost
git+https://github.com/facebookresearch/fastText.git
git+https://github.com/pybind/pybind11.git
